// Färg variabler

$primary-c: #e80097;
$secondary-c: #00E8E8;

// Färg variabler stop...

* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
}

.jumbotron-fluid {
    display: flex;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: 3580px;
    background-position: right;
    background-color: black;
    height: 330px !important;

}

// Style för alla labels

.t-lable {
    color: $primary-c;
}

// Style för alla labels - stop...

.btn-primary-p {
    background: $secondary-c;
    transition: 1s ease;
}


.btn-primary-p:hover {
    transition: 1s;
    transition-timing-function: ease;
    background: $primary-c;
}

.checkis-form-group{
    padding-top: 1rem;
}